.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.Code {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btnToggle {
  color: #56b08e;
  background-color: white;
  border: 1px solid #56b08e;
}

.btnToggle:hover{
  color: white;
  background-color: #56b08e;
  border: 1px solid #56b08e;
}

.btnToggle:active:focus:hover:target {
  color: white;
  background-color: #56b08e;
  border: 1px solid #56b08e;
}

.btnSubmit {
  color: white;
  background-color: #56b08e;
  border: 1px solid #56b08e;
}

.btnSubmit:hover {
  background-color: #468c72;
  border: 1px solid #468c72;
  box-shadow: none;
}

.btnSubmit:active:focus:target {
  background-color: #468c72;
  border: 1px solid #468c72;
  box-shadow: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
